@page
@model NorthwindRazorPages.Pages.Customers.IndexModel

@{
    ViewData["Title"] = "Customers";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1><i class="fas fa-users"></i>Customers</h1>
<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Company Name 
            </th>
            <th>
                Address
            </th>
            <th>
                Orders
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CustomerData.Customers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address) <br />
                    @Html.DisplayFor(modelItem => item.City), @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    @{
                        foreach (var orders in item.Orders)
                        {
                            @: @orders.OrderId @orders.CustomerId <br />
                        }
                    }
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.CustomerId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.CustomerId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.CustomerId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
</body>
</html>
